* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
  width: 100%;
  height: 100%;
}

// set scrollbar
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

// bar style
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

// thumb style
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #dcdfe6;
  background-clip: padding-box;
  min-height: 28px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e4e7ed;
}

// spacing
$spaceingType: (
  // spaceing type variables
    m: margin,
  p: padding
);

$spaceingDirections: (
  // spaceing direction variables
    t: top,
  r: right,
  b: bottom,
  l: left
);

$spaceingSizes: (
  // spaceing size variables
    no: 0,
  xs: 0.5,
  sm: 1,
  md: 1.25,
  lg: 1.5,
  xl: 2
);

$spaceingBaseSize: 20px; // spaceing base size

@each $stKey, $stVal in $spaceingType {
  // eg:  mt-md
  @each $sdKey, $sdVal in $spaceingDirections {
    @each $ssKey, $ssVal in $spaceingSizes {
      .#{$stKey}#{$sdKey}-#{$ssKey} {
        #{$stVal}-#{$sdVal}: $ssVal * $spaceingBaseSize !important;
      }
    }
  }

  @each $ssKey, $ssVal in $spaceingSizes {
    // eg: ma-md
    .#{$stKey}a-#{$ssKey} {
      #{$stVal}: $ssVal * $spaceingBaseSize !important;
    }

    // eg: mx-md
    .#{$stKey}x-#{$ssKey} {
      #{$stVal}-left: $ssVal * $spaceingBaseSize !important;
      #{$stVal}-right: $ssVal * $spaceingBaseSize !important;
    }

    // eg: my-md
    .#{$stKey}y-#{$ssKey} {
      #{$stVal}-top: $ssVal * $spaceingBaseSize !important;
      #{$stVal}-bottom: $ssVal * $spaceingBaseSize !important;
    }
  }
}

// layout-flex
.layout-flex {
  display: flex;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
  min-width: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.align-center {
    align-items: center;
  }

  &.justify-center {
    justify-content: center;
  }

  & > .layout-flex-s {
    flex-shrink: 0;
  }

  & > .layout-flex-l {
    flex: 1;
    flex-basis: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &.scroll-x {
      overflow-x: auto;
      overflow-y: hidden;
    }

    &.scroll-y {
      overflow-y: auto;
      overflow-x: hidden;
    }

    &.scroll {
      overflow: auto;
    }
  }
}

.demo,
.chart {
  width: 100%;
  height: 100%;
}

.chart-wrapper {
  position: relative;
}
.chart-menu {
  position: absolute;
  display: flex;
  top: 50%;
  left: 60%;
  max-width: 40%;
  max-height: 80%;
  transform: translate(0, -50%);
  border-radius: 10px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 10;
  &.show {
    opacity: 1;
    visibility: visible;
    left: calc(30vw + 50vh);
  }
  .menu-line {
    position: absolute;
    top: 50%;
    left: -40px;
    width: 40px;
    height: 40px;
    transform: translate(0, -50%);
    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: "";
      border-style: solid;
      border-width: 20px;
      border-color: transparent #fff transparent transparent;
    }
    &::before {
      z-index: 1;
      left: -2px;
      filter: blur(6px);
      opacity: 0.2;
      border-color: transparent #000 transparent transparent;
    }
    &::after {
      z-index: 3;
    }
  }
  .menu-content {
    flex: 1;
    overflow: auto;

    .el-tree {
      padding: 20px;
      z-index: 2;

      .el-tree-node__label {
        font-size: 12px;
      }

      .el-tree-node {
        position: relative;
        &:focus {
          .el-tree-node__content {
            .el-tree-node__expand-icon {
              background: inherit;
            }
          }
        }
      }
      & > .el-tree-node {
        &:before,
        &:after {
          border: none !important;
        }
      }
      .el-tree-node__children {
        padding-left: 16px;
      }
      .el-tree-node__content {
        position: relative;
        z-index: 2;
        &:hover,
        &:focus {
          .el-tree-node__expand-icon {
            background: inherit;
          }
        }
        .el-tree-node__expand-icon {
          background: #fff;
          &.is-leaf {
            background: none;
          }
        }
      }

      .el-tree-node :last-child:before {
        height: 38px;
      }

      .el-tree > .el-tree-node:before {
        border-left: none;
      }

      .tree-container .el-tree > .el-tree-node:after {
        border-top: none;
      }

      .el-tree-node:before {
        content: "";
        left: -4px;
        position: absolute;
        right: auto;
        border-width: 1px;
        border-left: 1px dashed #4386c6;
        bottom: 0px;
        height: 100%;
        top: -26px;
        width: 1px;
        z-index: 1;
      }

      .el-tree-node:after {
        content: "";
        left: -4px;
        position: absolute;
        right: auto;
        border-width: 1px;
        border-top: 1px dashed #4386c6;
        height: 20px;
        top: 12px;
        width: 24px;
        z-index: 1;
      }
    }
  }

  &.layered {
    display: block;
    height: 80%;
    box-shadow: none;
    background: none;
    &.show {
      left: calc(25vw + 40vh);
    }
    .menu-content {
      position: relative;
      height: 100%;
      overflow: visible;
      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: -40px;
        margin-top: -20px;
        display: block;
        content: "";
        border-style: solid;
        border-width: 20px;
        border-color: transparent #fff transparent transparent;
      }
      &::before {
        z-index: 1;
        left: -42px;
        filter: blur(6px);
        opacity: 0.2;
        border-color: transparent #000 transparent transparent;
      }
      &::after {
        z-index: 3;
      }
      .layered-content {
        position: absolute;
        top: 50%;
        left: 0;
        width: 20vw;
        height: auto;
        max-height: 100%;
        transform: translate(0, -50%);
        border-radius: 10px;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
        background: #fff;
        z-index: 2;
        .layered-name {
          padding: 10px;
          border-bottom: 1px solid #ebeef5;
        }
        .layered-list {
          padding: 10px;
          overflow-x: visible;
          overflow-y: auto;
          .layered-item {
            position: relative;
            padding: 5px 10px 5px 25px;
            color: #666;
            font-size: 12px;
            line-height: 20px;
            cursor: pointer;
            &:hover {
              background: #f5f7fa;
            }
            &.active {
              color: #fff;
              background: #004e9f;
            }
            & > i {
              float: right;
              margin-left: 5px;
              line-height: inherit;
            }
            &.has-child {
              &::before {
                background: #b0c4de;
              }
            }
            &:first-child {
              &::after {
                display: none;
              }
            }
            &::before {
              position: absolute;
              top: 15px;
              left: 10px;
              display: block;
              content: "";
              box-sizing: border-box;
              width: 7px;
              height: 7px;
              border-radius: 100%;
              transform: translate(0, -50%);
              background: #fff;
              border: solid 2px #b0c4de;
              z-index: 2;
            }
            &::after {
              position: absolute;
              top: -11px;
              left: 13px;
              display: block;
              content: "";
              box-sizing: border-box;
              height: 100%;
              border-left: dashed 1px #4386c6;
              z-index: 1;
            }
          }
        }
      }
      .layered-menu {
        position: absolute;
        top: 0;
        left: calc(20vw + 40px);
        height: 100%;

        &::before,
        &::after {
          position: absolute;
          top: 50%;
          left: -40px;
          margin-top: -20px;
          display: block;
          content: "";
          border-style: solid;
          border-width: 20px;
          border-color: transparent #fff transparent transparent;
        }
        &::before {
          z-index: 1;
          left: -42px;
          filter: blur(6px);
          opacity: 0.2;
          border-color: transparent #000 transparent transparent;
        }
        &::after {
          z-index: 3;
        }
        .layered-menu-wrapper {
          position: relative;
          top: 50%;
          max-height: 100%;
          overflow: auto;
          transform: translate(0, -50%);
          border-radius: 10px;
          box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
          z-index: 2;
          .layered-menu-item {
            display: none;
            &.show {
              display: block;
            }
          }
        }
      }
    }
  }
}
